body {
  font-family: 'Arial', sans-serif;
  background-color: #fcfcfc;
  padding: 20px;
  text-align: center;
}

input, button {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.todo-list {
  list-style-type: disc;
  padding-left: 40px;
  margin-top: 20px;
  text-align: left;
  max-width: 600px;
  margin-inline: auto;
}

.todo-list li {
  font-size: 18px;
  margin: 10px 0;
  position: relative;
}

.todo-list button {
  background: transparent;
  border: none;
  font-weight: bold;
  color: #c00;
  margin-left: 10px;
  cursor: pointer;
}
